@{
    ViewData["Title"] = "Home Page";

    
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form>
        <input type="checkbox" id="cb1" value="one" />pirmas
        <input type="checkbox" id="cb2" value="two" />antras
        <input type="checkbox" id="cb3" value="three" />trecias
        <input type="submit" onclick="asd()" />
    </form>

    <ahref ="https://Facebook.com"><button id="belekas">Facebook</button></ahref>
    <div>
    <ahref="index.cshtml">jflkas</ahref>
    </div>

    <script src="~/js/site.js"></script>
</div>

    


    
